.bigphoto {
  width: 1440px;
  height: 600px;
}
.assetstext1 {
  color: #33333a;
  position: absolute;
  margin-top: -415px;
  font-family: roboto;
  font-size: 60px;
  margin-left: 560px;
}

.assetstext2 {
  width: 555px;
  margin-top: -310px;
  font-size: 18px;
  margin-left: 406px;
  height: 60px;
  text-align: center;
  line-height: 26px;
}
.assets {
  position: relative;
  height: 600px;
  width: 1440px;
}

.sortbar {
  margin-top: 78px;
  height: 60px;
  width: 1440px;
  background-color: #ffffff;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}
.genderbutton {
  height: 40px;
  width: 62px;
  font-size: 18px;
  font-family: Roboto;
  margin-left: 153px;
  margin-top: 13px;
  float: left;
  line-height: 2.22;
}

.sortby {
  float: left;
  margin-left: 810px;
  margin-top: 15px;
  font-size: 24px;
}

.sortlist {
  width: 165px;
  height: 40px;
  background-color: var(--white);
  border: solid 1px #dedede;
  float: left;
  margin-left: 24px;
  margin-top: 10px;
  box-sizing: border-box;
  padding: 10px;
  line-height: 1.43;
  font-size: 14px;
  color: #515356;
}

.triangle2 {
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  border: solid 1px #000000;
  border-left: 1px;
  border-top: 1px;
  margin-right: 8px;
  margin-top: 4px;
  float: right;
}

.triangle3 {
    width: 8px;
    height: 8px;
    transform: rotate(225deg);
    border: solid 1px #000000;
    border-left: 1px;
    border-top: 1px;
    margin-right: 8px;
    margin-top: 18px;
    float: right;
  }

  .triangle4 {
    width: 8px;
    height: 8px;
    transform: rotate(-45deg);
    border: solid 1px #000000;
    border-left: 1px;
    border-top: 1px;
    margin-right: 13px;
    margin-top: 13px;
    float: left;
    
  }

.filterbar {
  height: 40px;
  width: 261px;
  /*background-color: aquamarine;*/
  font-size: 12px;
  line-height: 3.33;
  color: #33333a;
  margin-top: 41px;
}

.reset {
  float: right;
  color: #ff6008;
}

.leftbar {
  margin-left: 153px;
  float: left;
}

.leftbarcontainer {
  width: 260px;
  height: 630px;
  box-shadow: 0 -2px 0 0 #f3f3f3;
  margin-top: 22px;
  padding-top: 13px;
}

.leftbartype1 {
  font-size: 24px;
  line-height: 1.67;
  color: #333333;
  margin-top: 10px;
}

.leftbartype2 {
  font-size: 12px;
  line-height: 3.33;
  color: #33333a;
  margin-top: 8px;
}

.sizeselectbar{
  width: 260px;
  height: 145px;
  box-shadow: 0 -2px 0 0 #f3f3f3;
}

.sizehead{
  width: 51px;
  height: 40px;
  font-size: 12px;
  color: #33333a;
  padding-top: 15px;
  }

.sizebox{
  float:left;
  width: 50px;
  height: 40px;
  border: solid 1px #f3f3f3;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  margin-top:5px;
  color: #515356;
  margin-left: 7px;

  }

  .twocolor{
    background-color: #f3f3f3;
    border: solid 1px #dedede;
  }

  .ulbox{
    width: 230px;
    height: 40px;
  }

.sizeguide{
  width: 150px;
  height: 40px;
  font-size: 12px;
  line-height: 3.33;
  color: #33333a;
  margin-left: 7px;
  font-weight: bold;

}

.rightcontainer{
  width: 263px;
  height:482px;
  background-color:white;
  position: absolute;
  
}

.one{
  margin-left: 443px;
  margin-top: 40px;
}

.two{
  margin-left: 735px;
  margin-top: 40px;
}

.three{
  margin-left: 1028px;
  margin-top: 40px;
}

.four{
  margin-left: 443px;
  margin-top: 560px;
}

.five{
  margin-left: 735px;
  margin-top: 560px;
}

.six{
  margin-left: 1028px;
  margin-top: 560px;
}

.seven{
  margin-left: 443px;
  margin-top: 1080px;
}

.eight{
  margin-left: 735px;
  margin-top: 1080px;
}

.nine{
  margin-left: 1028px;
  margin-top: 1080px;
}

.ten{
  margin-left: 443px;
  margin-top: 1600px;
}

.eleven{
  margin-left: 735px;
  margin-top: 1600px;
}

.twelve{
  margin-left: 1028px;
  margin-top: 1600px;
}

.loading{
  margin-top: 2120px;
  margin-left:853px;
  position: absolute;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.67;
  letter-spacing: 2px;
  text-align: center;
  color: #33333a;
}

.loadingimg{
  width: 23.1px;
  height: 20px;
  margin-top: 2119px;
  margin-left: 405px;
  position: absolute;
}



.productimage{
  width: 263px;
  height: 390px;
  background-color: red;

}

.productprice{
  font-size: 14px;
  line-height: 3.14;
  color: #33333a;
}

.productname{
  font-size: 16px;
  line-height: 1.56;
  color: #33333a;
}

.new1{
  width: 50px;
  height: 20px;
  background-color: #ff6008;
  margin-top: 10px;
  margin-left:10px;
  color:#ffffff;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  }

  .rightsection{
    position: relative;
  }

  .bottomsection{
  margin-top: 2860px;
  width: 1440px;
  height: 320px;
  background-color: #33333a;
  }

  .headerbottom{
  font-size: 18px;
  line-height: 1.67;
  color: #ffffff;
  
  }

  .kon{
  font-size: 14px;
  line-height: 2.5;
  color: blueviolet;
  }

   .contactus{
    float:left;
    margin-top:42px;
    margin-left: 120px;
  
  }

  .categories{
    float:left;
    margin-top:42px;
    margin-left: 149px;
  
  } 

  .partners{
    float:left;
    margin-top:42px;
    margin-left: 109px;
  
  }

  .subscribe{
    float: left;
    margin-left: 50px;
    margin-top:42px;
  }

  .eyecontainer{
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: #dedede;
  margin: 11px 21px 9px 10px;
  }

  .enteryouremail{
  margin-top: 18px;
  width: 360px;
  height: 40px;
  background-color: #33333a;
  border: solid 1px #666666;
  }

  .smikon{
  width: 24px;
  height: 24px;
  }

  .socialmedia{
    margin-top: 20px;
  }

  .subsbutton{
  margin-left: 30px;
  margin-top:90px;
  width: 166px;
  height: 40px;
  float:left;
  font-size: 12px;
  font-weight: 600;
  line-height: 3.20;
  letter-spacing: 2px;
  text-align: center;
  color: #33333a;
  background-color:#ffffff;
  }

  .copyright{
  width: 213px;
  height: 25px;
  font-size: 14px;
  line-height: 1.79;
  color: #dedede;
  position: absolute;
  margin-left: 616px;
  margin-top: 256px;
  }