.assetphoto {
  width: 1440px;
  height: 600px;
  object-fit: contain;
  background-color: rgba(51, 51, 58, 0.3);
}

.featured {
  font-size: 42px;
  line-height: 1.43;
  text-align: center;
  color: #33333a;
  width: 1440px;
  height: 45px;
  margin-top: 63px;
}

.left-circle {
  width: 50px;
  height: 100px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 50px;
  background-color: black;
  position: absolute;
  margin-top: 254px;
  opacity: 0.4;
}

.leftarrow {
  width: 15px;
  height: 15px;
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(135deg);
  position: absolute;
  margin-left: 10px;
  margin-top: 291px;
}

.right-circle {
  width: 50px;
  height: 100px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  background-color: black;
  position: absolute;
  margin-top: 254px;
  margin-left: 1390px;
  opacity: 0.4;
}

.rightarrow {
  width: 15px;
  height: 15px;
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  position: absolute;
  margin-left: 1410px;
  margin-top: 291px;
}

.assettext {
  width: 458px;
  height: 160px;
  font-family: Roboto;
  font-size: 60px;
  line-height: 1.33;
  color: #ffffff;
  position: absolute;
  margin-left: 833px;
  margin-top: 175px;
}

.assettext2 {
  width: 79px;
  height: 20px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.67;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  margin-left: 833px;
  margin-top: 361px;
}

.assetline {
  width: 80px;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  margin-left: 832px;
  margin-top: 388px;
}

.shop {
  width: 263px;
  height: 483px;
}

.shopitem {
  width: 263px;
  height: 390px;
  object-fit: contain;
}

.shopitem2 {
  width: 263px;
  height: 390px;
  object-fit: contain;
  margin: 0px 15px;
  opacity: 0.3;
}

.product1 {
  font-size: 14px;
  line-height: 2.14;
  color: #33333a;
}

.product2 {
  font-size: 14px;
  line-height: 2.14;
  color: #33333a;
  margin: auto;
  margin: 0px 15px;
}

.container1 {
  margin-left: 150px;
  margin-top: 27px;

  float: left;
}

.container2 {
  margin-top: 27px;
  float: left;
  margin-left: 15px;
  width: 293px;
  height: 510px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.05);
}

.container3 {
  float: left;
  margin-top: 27px;
  margin-left: 14px;
}

.container4 {
  margin-top: 27px;
  float: left;
  margin-left: 30px;
}

.quickview {
  /*burası neden opacityden etkilendi ben opacityi shopitem2 ye verdim*/
  width: 180px;
  height: 50px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 3.9;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  background-color: #33333a;
  position: absolute;
  margin-left: 57px;
  margin-top: 185.5px;
}

.shop2 {
  width: 263px;
  height: 483px;
  position: absolute;
}

.container5 {
  margin-left: 150px;
  margin-top: 547px;
}

.container6 {
  margin-left: 443px;
  margin-top: 547px;
}

.container7 {
  margin-left: 735px;
  margin-top: 547px;
}

.container8 {
  margin-left: 1028px;
  margin-top: 547px;
}

.newbrand {
  width: 50px;
  height: 20px;
  background-color: #ff6008;
  font-size: 12px;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  margin-left: 15px;
  margin-top: 11px;
}

.aboutmatter {
  width: 246px;
  height: 60px;
  font-family: Roboto;
  font-size: 42px;
  line-height: 1.43;
  text-align: center;
  color: #33333a;
  margin-top: 1150px;
  position: absolute;
  margin-left: 597.5px;
}

.aboutimage {
  width: 555px;
  height: 430px;
  object-fit: contain;
  position: absolute;
  margin-top: 1237px;
  margin-left: 150px;
}

.tex {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #030303;
  margin-left: 734px;
  position: absolute;
}

.texo {
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.33;
  letter-spacing: 1px;
  color: #33333a;
  margin-left: 734px;
  position: absolute;
}

.text1 {
  margin-top: 1238px;
  width: 555px;
  height: 90px;
}
.text2 {
  margin-top: 1348px;
  width: 361px;
  height: 40px;
}
.text3 {
  margin-top: 1389px;
  width: 61px;
  height: 30px;
}
.text4 {
  margin-top: 1428px;
  width: 361px;
  height: 40px;
}
.text5 {
  margin-top: 1469px;
  width: 74px;
  height: 90px;
}
.text6 {
  margin-top: 1568px;
  width: 361px;
  height: 40px;
}
.text7 {
  margin-top: 1609px;
  width: 108px;
  height: 60px;
}

.explore {
  width: 139px;
  height: 60px;
  font-size: 42px;
  line-height: 1.43;
  text-align: center;
  color: #33333a;
  position: absolute;
  margin-top: 1790px;
  margin-left: 651px;
}

.rectangle-5 {
  margin-top: 1877px;
  margin-left: 149px;
  position: absolute;
  width: 555px;
  height: 280px;
  border-top: 2px solid #33333a;
}

.field-5-1 {
  width: 218px;
  height: 40px;
  font-size: 12px;
  font-weight: 600;
  line-height: 3.33;
  letter-spacing: 1px;
  color: #33333a;
}

.field-5-2 {
  width: 555px;
  height: 50px;
  font-family: Roboto;
  font-size: 30px;
  line-height: 1.67;
  color: #33333a;
}

.field-5-3 {
  width: 515px;
  height: 100px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.56;
  color: #33333a;
}

.section-1,
.section-2,
.section-3,
.section-4 {
  border-top: 2px solid #33333a;
  width: 263px;
  height: 280px;
  position: absolute;
}

.section-1 {
  margin-top: 1877px;
  margin-left: 734px;
}

.section-2 {
  margin-top: 1877px;
  margin-left: 1027px;
}

.section-3 {
  margin-top: 2157px;
  margin-left: 734px;
}

.section-4 {
  margin-top: 2157px;
  margin-left: 1027px;
}

.section-1-2 {
  width: 263px;
  height: 70px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.46;
  color: #33333a;
}

.section-1-3 {
  width: 263px;
  height: 120px;
  object-fit: contain;
}

.section-2-2 {
  width: 263px;
  height: 35px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.46;
  color: #33333a;
}

.section-2-3 {
  margin-top: 40px;
  width: 263px;
  height: 100px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.56;
  color: #33333a;
}

.section-3-2 {
  width: 263px;
  height: 70px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.46;
  color: #33333a;
}

.section-3-3 {
  width: 263px;
  height: 125px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.56;
  color: #33333a;
}

.section-4-2 {
  width: 263px;
  height: 70px;
  font-family: Roboto;
  font-size: 24px;
  line-height: 1.46;
  color: #33333a;
}

.section-4-3 {
  width: 263px;
  height: 120px;
  object-fit: contain;
}

.explorephoto {
  position: absolute;
  margin-top: 2157px;
  margin-left: 149px;
  width: 555px;
  height: 280px;
  object-fit: contain;
}

.rectangle8 {
  position: absolute;
  margin-top: 2467px;
  margin-left: 633px;
  width: 174px;
  height: 40px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  line-height: 3.3;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  background-color: #33333a;
}

.shoprectangle {
  position: absolute;
  margin-top: 2631px;
  margin-left: 672.5px;
  width: 96px;
  height: 60px;
  font-family: Roboto;
  font-size: 42px;
  line-height: 1.43;
  text-align: center;
  color: #33333a;
}

.catimg {
  width: 263px;
  height: 400px;
  object-fit: contain;
  position: absolute;
  margin-top: 2717px;
}

.categoryimg1 {
  margin-left: 148px;
}
.categoryimg2 {
  margin-left: 441px;
}
.categoryimg3 {
  margin-left: 734px;
}
.categoryimg4 {
  margin-left: 1027px;
}

.whiteimg {
  width: 263px;
  height: 50px;
  background-color: #ffffff;
  object-fit: contain;
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.9;
  letter-spacing: normal;
  text-align: center;
  color: #030303;
  position: absolute;
  margin-top: 290px;
}

.shoprectangle1 {
  width: 180px;
  height: 40px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.4;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  background-color: #33333a;
  position: absolute;
  margin-top: 180px;
  margin-left: 42px;
}

.recvid {
  width: 422px;
  height: 60px;
  font-family: Roboto;
  font-size: 42px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #33333a;
  position: absolute;
  margin-top: 3240px;
  margin-left: 509.5px;
}

.rectangl {
  width: 361px;
  height: 240px;
  object-fit: contain;
  margin-top: 3327px;
  position: absolute;
}

.evid1 {
  margin-left: 149px;
}

.evid2 {
  margin-left: 539px;
}

.evid3 {
  margin-left: 929px;
}

.play-button {
  position: absolute;
  margin: 75px 0px 0px 135px;
}

.article {
  width: 361px;
  height: 70px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 4.56;
  letter-spacing: normal;
  color: #33333a;
  position: absolute;
  margin-top: 3567px;
}

.sub1 {
  margin-left: 149px;
}
.sub2 {
  margin-left: 539px;
}
.sub3 {
  margin-left: 929px;
}

.showmore {
  position: absolute;
  margin-left: 661px;
  margin-top: 3667px;
  width: 118px;
  height: 40px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 3.67;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  background-color: #33333a;
}

.asseenon {
  position: absolute;
  margin-left: 612.5px;
  margin-top: 3830px;
  width: 215px;
  height: 60px;
  font-family: Roboto;
  font-size: 42px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  letter-spacing: normal;
  text-align: center;
  color: #33333a;
}

.bitmap {
  position: absolute;
  margin-left: 238px;
  margin-top: 3917px;
  width: 964px;
  height: 43px;
  object-fit: contain;
}

.bottomsection{
  margin-top: 4020px;
  width: 1440px;
  height: 320px;
  background-color: #33333a;
  }

  .headerbottom{
  font-size: 18px;
  line-height: 1.67;
  color: #ffffff;
  
  }

  .kon{
  font-size: 14px;
  line-height: 2.5;
  color: #dedede;
  }

   .contactus{
    float:left;
    margin-top:42px;
    margin-left: 120px;
  
  }

  .categories{
    float:left;
    margin-top:42px;
    margin-left: 149px;
  
  } 

  .partners{
    float:left;
    margin-top:42px;
    margin-left: 109px;
  
  }

  .subscribe{
    float: left;
    margin-left: 50px;
    margin-top:42px;
  }

  .eyecontainer{
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  color: #dedede;
  margin: 11px 21px 9px 10px;
  }

  .enteryouremail{
  margin-top: 18px;
  width: 360px;
  height: 40px;
  background-color: #33333a;
  border: solid 1px #666666;
  }

  .smikon{
  width: 24px;
  height: 24px;
  }

  .socialmedia{
    margin-top: 20px;
  }

  .subsbutton{
  margin-left: 30px;
  margin-top:90px;
  width: 166px;
  height: 40px;
  float:left;
  font-size: 12px;
  font-weight: 600;
  line-height: 3.20;
  letter-spacing: 2px;
  text-align: center;
  color: #33333a;
  background-color:#ffffff;
  }

  .copyright{
  width: 213px;
  height: 25px;
  font-size: 14px;
  line-height: 1.79;
  color: #dedede;
  position: absolute;
  margin-left: 616px;
  margin-top: 256px;
  }